@model Brasileirao.web.Models.IEntities.Classificacao

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Home/Index.cshtml";
}

<h2>Edit</h2>

<h4>Classificacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Posicao" class="control-label"></label>
                <input asp-for="Posicao" class="form-control" />
                <span asp-validation-for="Posicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeEquipa" class="control-label"></label>
                <input asp-for="NomeEquipa" class="form-control" />
                <span asp-validation-for="NomeEquipa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pts" class="control-label"></label>
                <input asp-for="Pts" class="form-control" />
                <span asp-validation-for="Pts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V" class="control-label"></label>
                <input asp-for="V" class="form-control" />
                <span asp-validation-for="V" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="J" class="control-label"></label>
                <input asp-for="J" class="form-control" />
                <span asp-validation-for="J" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E" class="control-label"></label>
                <input asp-for="E" class="form-control" />
                <span asp-validation-for="E" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="D" class="control-label"></label>
                <input asp-for="D" class="form-control" />
                <span asp-validation-for="D" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GM" class="control-label"></label>
                <input asp-for="GM" class="form-control" />
                <span asp-validation-for="GM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GS" class="control-label"></label>
                <input asp-for="GS" class="form-control" />
                <span asp-validation-for="GS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
